__pycache__/
*.py[cod]

outputs/
train/outputs/
train/LlamaFactory-main/
train/saves/
train/swanlog/

Magicoder/
train/datasets/Magicoder/*.json
train/datasets/Magicoder/*.jsonl
!train/datasets/Magicoder/README.md
!train/datasets/Magicoder/dataset_info.json

*.pt
*.bin
*.safetensors
*.log
